@import url('https://fonts.googleapis.com/css2?family=Prosto+One&family=Ubuntu:wght@300;400&display=swap');

@mixin light {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
}

@mixin regular {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

@mixin prosto {
    font-family: 'Prosto One', cursive; 
}



